@import "./variables";
@import './header';

body {
  font-family: Arial, sans-serif;
}


  .products-container {
    display: grid;
    gap: 20px;
  }
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }

  header button {
    background-color: rgba(0, 193, 0, 0.697);
    border-radius: 50px;
    &:hover{
        background: rgba(255, 117, 117, 0.46);
        @extend header;

    }
  }

  body {
    background: $primaryBtn;
    
  }

  .favorites {
    background: greenyellow;
    &::after {
        background: red;
    }
  }

  button {
    background: yellow;
    border-radius: 50px;
    &:hover{
      background: rgba(255, 0, 0, 0.46);
      @extend header;
    }}

    div .categories {
      display: grid;
    }